.header__nav {
  border: 4px solid #f4f4f5;
}

.header__nav--list {
  display: flex;
}

.item--button {
  padding: 8px 24px;
  background: #f4f4f5;
  border: none;
  cursor: pointer;
}

.item--button.active {
  background-color: #fff;
}

.tab-content {
  padding: 20px 0;
  display: grid;
  gap: 2rem;
}
